.header {
  width: 100%;
  height: 60px;
  display: flex;
  background-color: #a9a9a9;
}

.title h1 {
  font-size: 35px;
  color: #dc143c;
  margin: 0px
}

.title-button {
  display: block;
  float: right;
  position: fixed;
  top: 15px;
  right: 12px;
  width: 36px;
  height: 35px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.main{

}

.mainvisual {
  max-width: 100%;
  height: auto;
}

.content {
  text-align: center;
}

.recruiting {
  
}

.hr {
  box-sizing: content-box;
    height: 0;
    margin: 15px 0;
    border: 0;
    border-top: 1px solid
}

.recruiting h1 {
  font-size: 50px;
}

.recruiting h2 {
  font-size: 35px;
}

.recruiting p {
  font-size: 20px;
}

.about {
  
}

.about-title {
  font-size: 35px;
}

.about-content h2 {
  font-size: 30px;
}

.about-content p {
  font-size: 20px;
}

.yacht {
  
}

..yacht-title {
  font-size: 30px;
}

.yacht-content {
  font-size: 20px;
}

.results {
  
}

.results h1 {
  
}

.results p {
  
}

.results a {
  
}

footer {
  
}

.contact {
  
}

.contact h1 {
  
}

.contact p {
  
}


