header {
  width: 100%;
  height: 65px;
  display: flex;
  background-color: red;
}

.title {
  float: left;
  font-size: 100px;
}

.title-button {
  display: block;
  float: right;
  position: fixed;
  top: 15px;
  right: 12px;
  width: 36px;
  height: 35px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}

.main{

}

.mainvisual {
  max-width: 100%;
  height: auto;
}
